<header class="header">
  <a href="/" class="header__logo">Admin Panel</a>

  <nav class="header__nav">
    <ul>
      <li>
        <a href="/" class="">Home</a>
      </li>
      <li>
        <a href="/about" class="">About</a>
      </li>
      <li>
        <a href="/contact" class="">Contact</a>
      </li>
    </ul>

  </nav>

  <div class="header__button">
    <a href="/logout">
      Logout
    </a>
  </div>

</header>